html {
  height: 100%;
  width: 100vw;
}

body {
  margin: 0;
  height: 100%;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--color-text);
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  border: 0;
  font-size: 16px;
  color: inherit;

  &.active {
    color: var(--color-selected);
  }
}

input {
  padding: 0;
}

select, textarea {
  outline: 0;
  resize: none;
  border: 0;
}

ul {
  padding-left: 20px;
}

p {
  margin: 8px 0;
}

pre {
  white-space: pre-wrap;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) transparent;
}