<as-toolbar>
    <div ngProjectAs="left">
        <button type="button" (click)="open.set(! open())"><as-icon value="menu"/></button>
    </div>
    <div ngProjectAs="right">
        @if (links()['logout']; as link) {
            <a [routerLink]="link.url" class="center"><as-icon value="logout"/></a>
        }
    </div>
</as-toolbar>
<as-drawer-container [open]="open()">
    <as-drawer>
        <ul>
            @if (links()['login']; as link) {
                <li>
                    <a [routerLink]="link.url" class="center"><as-icon value="login"/>{{ link.title }}</a>
                </li>
            }
            @if (links()['register']; as link) {
                <li>
                    <a [routerLink]="link.url" class="center"><as-icon value="app_registration"/> {{ link.title }}</a>
                </li>
            }
            @if (links()['users']; as link) {
                <li>
                    <a [routerLink]="link.url" class="center"><as-icon value="groups"/> {{ link.title }}</a>
                </li>
            }
            @if (links()['documents']; as link) {
                <li>
                    <a [routerLink]="link.url" class="center"><as-icon value="menu_book"/> {{ link.title }}</a>
                </li>
            }

        </ul>
    </as-drawer>
    <as-drawer-content>
        <as-view-port>
            <router-outlet/>
        </as-view-port>
    </as-drawer-content>
</as-drawer-container>
