<as-toolbar>
    <div ngProjectAs="left">
        <button type="button" class="material-icons" (click)="open.set(! open())">menu</button>
    </div>
    <div ngProjectAs="right">2</div>
</as-toolbar>
<as-drawer-container [open]="open()">
    <as-drawer>
        <ul>
            @if (links()['login']; as link) {
                <li>
                    <a [routerLink]="link.url" class="center"><span class="material-icons">login</span> {{ link.title }}</a>
                </li>
            }
            @if (links()['register']; as link) {
                <li>
                    <a [routerLink]="link.url" class="center"><span class="material-icons">app_registration</span> {{ link.title }}</a>
                </li>
            }
            @if (links()['users']; as link) {
                <li>
                    <a [routerLink]="link.url" class="center"><span class="material-icons">groups</span> {{ link.title }}</a>
                </li>
            }
            @if (links()['documents']; as link) {
                <li>
                    <a [routerLink]="link.url" class="center"><span class="material-icons">menu_book</span> {{ link.title }}</a>
                </li>
            }

        </ul>
    </as-drawer>
    <as-drawer-content>
        <as-view-port>
            <router-outlet/>
        </as-view-port>
    </as-drawer-content>
</as-drawer-container>
