html[data-theme="light"] {
    input {
        color-scheme: light;
    }
}

html[data-theme="dark"] {
    input {
        color-scheme: dark;
    }
}

input {
    background-color: inherit;
    border: none;

    &:focus {
        outline: none;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    &[type=checkbox] {
        appearance: none;
        font-family: 'Material Icons', fantasy;
        font-size: medium;
        margin: 0;
        outline: 0;

        &::before {
            content: 'check_box_outline_blank';
            color: var(--color-text);
        }

        &:checked::before {
            content: 'check_box';
            color: var(--color-selected);
        }
    }

    &[toggle]::before {
        content: 'toggle_off';
        color: var(--color-text)
    }

    &[toggle]:checked::before {
        content: 'toggle_on';
        color: var(--color-selected)
    }
}