.tabs {
    display: flex;
    align-items: center;
    height: 32px;

    .placeholder {
        flex: 1;
        height: 32px;
        border-bottom: solid 2px var(--color-background-secondary);
    }
}   