.search-page {
    padding: 24px;
    gap: 24px;

    .selected:hover {
        color: var(--color-highlight);
    }
}

@media (max-width: 1300px) {
    .search-page {
        .search-box {
            width: 100%
        }
    }
}
