.lazy-select {
    position: relative;

    .text-base {
        height: 24px;
        display: flex;
        align-items: center;
    }

    .overlay {
        background-color: var(--color-background-tertiary);
        color: var(--color-text);
        position: absolute;
        width: 100%;
        top : 24px;
        left: 24px;
        box-shadow: 5px 5px 15px 5px #000000;
        z-index: 100;

        div.item {
            padding: 4px;
            width: 100%;

            &:hover {
                background-color: var(--color-selected);
                color: var(--color-background-primary) !important;
            }
        }
    }


}


