user-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .container {
        display: flex;
        gap: 12px;

        .image {
            display: flex;
            align-items: flex-start;
        }

        legend {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
    }
}