.editor {

    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .root {

        word-wrap: break-word;

        .bold {
            font-weight: bold;
        }

        .italic {
            font-style: italic;
        }

        .deleted {
            text-decoration: line-through;
        }

        .subscript {
            vertical-align: sub;
        }

        .superscript {
            vertical-align: super;
        }




        .h1 {
            font-size: xxx-large;
        }

        .h2 {
            font-size: xx-large;
        }

        .h3 {
            font-size: x-large;
        }

        h4 {
            font-size: large;
        }

        h5 {
            font-size: medium;
        }

        h6 {
            font-size: small;
        }


        .justify {
            text-align: justify;
        }

        .justify-left {
            text-align: left;
        }

        .justify-center {
            text-align: center;
        }

        .justify-right {
            text-align: right;
        }

        table {
            width: 100%;
            table-layout: fixed;

            tr {

                td p:has(br):before {

                    content: "...";
                    color: var(--color-background-secondary);

                }

            }
        }

        ul {
            li p:has(br):before {
                content: "...";
                color: var(--color-background-secondary);
            }
        }

    }

}